<div class="container-fluid">
  <!-- <mat-tab-group class="custom-content">
    <mat-tab label="Latest Provincial" class="custom-content">
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Covid-19 SA</mat-card-title>
              <mat-card-subtitle>Covid-19 SA Last 10 Days</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-chart></app-chart>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Covid-19 SA</mat-card-title>
              <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-provincial-chart></app-provincial-chart>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Covid Over Time">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-chart></app-chart>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Covid Map view">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA Map</mat-card-title>
          <mat-card-subtitle>The geographical breakdown</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-tab>
  </mat-tab-group> -->

  <div class="row">
    <div class="col-sm-4" style="top: 60px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color: #FF8C00;">{{ totalInfections }}</mat-card-title>
          <mat-card-subtitle>Number of positive covid infections in South Afrika</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-sm-4" style="top: 60px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color: #228B22;">{{ totalRecovered }}</mat-card-title>
          <mat-card-subtitle>Total number of people that have recovered in South Africa</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-sm-4" style="top: 60px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color: red;">{{ totalDeaths }}</mat-card-title>
          <mat-card-subtitle>Number of covid related deaths in South Afrika</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-sm-6" style="top: 70px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Last 7 Days</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-chart></app-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6" style="top: 70px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-provincial-chart></app-provincial-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
