<div class="container-fluid">
  <!-- <mat-tab-group class="custom-content">
    <mat-tab label="Latest Provincial" class="custom-content">
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Covid-19 SA</mat-card-title>
              <mat-card-subtitle>Covid-19 SA Last 10 Days</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-chart></app-chart>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Covid-19 SA</mat-card-title>
              <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-provincial-chart></app-provincial-chart>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Covid Over Time">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-chart></app-chart>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Covid Map view">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA Map</mat-card-title>
          <mat-card-subtitle>The geographical breakdown</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-tab>
  </mat-tab-group> -->

  <div class="row">
    <div class="col-sm-12" style="top: 60px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Information overview</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-2"><strong> Number of infections:</strong><p style="color: red;">{{ totalInfections }}</p></div>
            <!-- <div class="col-sm-2"><strong>Total number recovered:</strong><p style="color: green;">3983</p></div>
            <div class="col-sm-2"><strong>Province with the most infections:</strong><p style="color: red;">WC</p></div> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6" style="top: 70px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Last 7 Days</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-chart></app-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6" style="top: 70px; padding: 5px;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Covid-19 SA</mat-card-title>
          <mat-card-subtitle>Covid-19 SA Provincial Breakdown</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-provincial-chart></app-provincial-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
